body{
  font-size: 16px;
}
.header{
  background-color: #ff7979;
  height: 5em;
  color: white;
}
.wrapper {
  display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 15em;
}


